.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


body {
    background-color: rgb(245, 248, 255);
}



/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title {
    font-weight: 800;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}

/* banner style */
.btn-primary {
    width: 132px;
    height: 48px;
    background-color: rgba(78, 71, 255, 1);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.btn-primary-stay {
    width: 180px;
    height: 48px;
    background-color: rgba(78, 71, 255, 1);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    align-items: center;
}

/* header style */

.header {
    background-image: url(Assets/Hero-bg.png);
    background-position: bottom right;
    height: 698px;
}

.banner-content {
    text-align: center;
    align-items: center;
}

.banner-content p {
    font-size: 80px;
    font-weight: bold;
}

/* action style */

.btn-primary-Launch {
    width: 229px;
    height: 48px;
    background-color: rgb(78, 71, 255);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.Action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    margin-top: 116px;

}

.text-action p {
    color: rgba(37, 36, 50, 0.5);
}

.img-web {
    border-radius: 50px;
    font-size: 24px;
}

.text-action h2 {
    color: #252432;
    font-size: 42px;
}




/* users section style */

.stats-container {
    background-color: #eaeaff;
    padding: 40px 20px;
    border-radius: 16px;
    text-align: center;
    margin-left: 141px;
    margin-right: 159px;
    margin-top: 116px;
    font-family: Arial, sans-serif;
}

.stats-container h2 {
    font-size: 38px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 30px;
}

.stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stat-item h3 {
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
    margin: 0;
    font-weight: 700;
}

.stat-item p {
    margin-top: 8px;
    font-size: 20px;
    color: rgba(117, 117, 117, 1);
}

/* card-section style */
.rating-container {
    margin-top: 13px;
    margin-left: 151px;
    margin-right: 149px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.card-bottom {
    display: flex;
    gap: 20px;
    align-items: center;
}

.card-bottom img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.rating-title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-top: 137px;
    margin-bottom: 50px;
}

.card {

    width: 360px;
    height: 230px;
    background-color: rgba(253, 254, 255, 1);
    border-radius: 10px;
    padding-top: 24px;
    padding-left: 24px;

}

.card-description h1 {
    color: rgba(30, 30, 30, 1);
    font-size: 24px
}

.card-description p {
    font-size: 16px;

}

.card-bottom h3 {
    color: #757575;
    font-size: 16px;
    font-weight: 800;
}

.date {
    color: #B3B3B3;
    font-weight: 500;
}

/* Focus section style */

.focus-container {
    margin-top: 137px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 151px;
    margin-right: 149px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.focus-container img {
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin-top: 20px;
}
.text-section h1{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.focus-container p{
    font-size: 16px;
    color: rgba(64, 64, 64, 1);
}